<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- Compiled and minified CSS -->
     <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
   
  </head>
  <body>

  <nav id="navbar">
    <div class="nav-wrapper">
      <a href="home.erb" class="Srikar's-Bakery" id="srikar"><big>Srikar's Bakery</big></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/home"><big>Home</big></a></li>
        <li><a href="/cakes"><big>Cakes</big></a></li>
        <li><a href="/cookies"><big>Cookies</big></a></li>
        <li><a href="/muffins"><big>Muffins</big></a></li>
      </ul>
    </div>
  </nav>

<div class="grid">

  <div class="row">
    <div class="col m12">
      <div class="card">
        <div class="card-image">
          <img src="cheesecake.jpeg">
        </div>
        <div class="card-content">
          <span class="card-title"><strong>NewYork Cheesecake</strong></span>
          <p><strong>Description:</strong> <%= @cheeseCake.description %></p>
          <p><strong>Price</strong>: <%= @cheeseCake.price %> </p>
      </div>
    </div>
  </div>
</div>

<div class="row">
    <div class="col m12">
      <div class="card">
        <div class="card-image">
          <img src="Lemon.jpg">
        </div>
        <div class="card-content">
          <span class="card-title"><strong>Lemon Cake</strong></span>
          <p><strong>Description:</strong> <%= @lemonCake.description%> </p>
          <p><strong>Price:</strong> <%= @lemonCake.price%></p>
      </div>
    </div>
  </div>
</div>

<div class="row">
    <div class="col m12">
      <div class="card">
        <div class="card-image">
          <img src="Carrot.jpg">
        </div>
        <div class="card-content">
          <span class="card-title"><strong>Carrot Cake</strong></span>
          <p><strong>Description:</strong> <%= @carrotCake.description%> </p>
          <p><strong>Price:</strong> <%= @carrotCake.price%></p>      
        </div>
    </div>
  </div>
</div>

<div class="row">
    <div class="col m12">
      <div class="card">
        <div class="card-image">
          <img src="redvelvet.jpg">
        </div>
        <div class="card-content">
          <span class="card-title"><strong>Red Velvet</strong></span>
          <p><strong>Description:</strong> <%= @redVelvet.description%> </p>
          <p><strong>Price:</strong> <%= @redVelvet.price%></p>
      </div>
    </div>
  </div>
</div>

<div class="row">
    <div class="col m12">
      <div class="card">
        <div class="card-image">
          <img src="marble.jpg">
        </div>
        <div class="card-content">
          <span class="card-title"><strong>Marble Cake</strong></span>
          <p><strong>Description:</strong> <%= @marbleCake.description%> </p>
          <p><strong>Price:</strong> <%= @marbleCake.price%></p>
      </div>
    </div>
  </div>
</div>

<div class="row">
    <div class="col m12">
      <div class="card">
        <div class="card-image">
          <img src="mousse.jpg">
        </div>
        <div class="card-content">
          <span class="card-title"><strong>ChocolateMousse Cake</strong></span>
          <p><strong>Description:</strong> <%= @chocolateMousse.description%> </p>
          <p><strong>Price:</strong> <%= @chocolateMousse.price%></p>
      </div>
    </div>
  </div>
</div>

</div>

<script type="text/javascript" src="/main.js"></script>
      <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> 
   </body>
</html>