<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>

  <nav id="navbar">
    <div class="nav-wrapper">
      <a href="home.erb" class="Srikar's-Bakery" id="srikar"><big>Srikar's Bakery</big></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/home"><big>Home</big></a></li>
        <li><a href="/cakes"><big>Cakes</big></a></li>
        <li><a href="/cookies"><big>Cookies</big></a></li>
        <li><a href="/muffins"><big>Muffins</big></a></li>
      </ul>
    </div>
  </nav>

<div class="grid">

  <div class="row">
    <div class="col m12">
      <div class="card">
        <div class="card-image">
          <img src="yogurt.jpg">
        </div>
        <div class="card-content">
          <span class="card-title"><strong>Yogurt Muffin</strong></span>
          <p><strong>Description:</strong> <%= @yogurtMuffin.description%> </p>
          <p><strong>Price:</strong> <%= @yogurtMuffin.price%></p>
      </div>
    </div>
  </div>
</div>

<div class="row">
    <div class="col m12">
      <div class="card">
        <div class="card-image">
          <img src="chocolatemuffin.jpg">
        </div>
        <div class="card-content">
          <span class="card-title"><strong>Chocolate Muffin</strong></span>
          <p><strong>Description:</strong> <%= @chocolateMuffin.description%> </p>
          <p><strong>Price:</strong> <%= @chocolateMuffin.price%></p>
      </div>
    </div>
  </div>
</div>

<div class="row">
    <div class="col m12">
      <div class="card">
        <div class="card-image">
          <img src="corn.jpg">
        </div>
        <div class="card-content">
          <span class="card-title"><strong>Corn Muffin</strong></span>
          <p><strong>Description:</strong> <%= @cornMuffin.description%> </p>
          <p><strong>Price:</strong> <%= @cornMuffin.price%></p>      </div>
    </div>
  </div>
</div>

<div class="row">
    <div class="col m12">
      <div class="card">
        <div class="card-image">
          <img src="blueberry.jpg">
        </div>
        <div class="card-content">
          <span class="card-title"><strong>Blueberry Muffin</strong></span>
          <p><strong>Description:</strong> <%= @blueberryMuffin.description%> </p>
          <p><strong>Price:</strong> <%= @blueberryMuffin.price%></p>
      </div>
    </div>
  </div>
</div>

<div class="row">
    <div class="col m12">
      <div class="card">
        <div class="card-image">
          <img src="cinnamon.jpg">
        </div>
        <div class="card-content">
          <span class="card-title"><strong>Cinnamon Muffin</strong></span>
          <p><strong>Description:</strong> <%= @cinnamonMuffin.description%> </p>
          <p><strong>Price:</strong> <%= @cinnamonMuffin.price%></p>
      </div>
    </div>
  </div>
</div>

<div class="row">
    <div class="col m12">
      <div class="card">
        <div class="card-image">
          <img src="mango.jpg">
        </div>
        <div class="card-content">
          <span class="card-title"><strong>Mango Muffin</strong></span>
          <p><strong>Description:</strong> <%= @mangoMuffin.description%> </p>
          <p><strong>Price:</strong> <%= @mangoMuffin.price%></p>
      </div>
    </div>
  </div>
</div>

</div>

<script type="text/javascript" src="/main.js"></script>
      <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> 
   </body>
</html>